version: 2.1
orbs:
  welcome: circleci/docker@1.0.0 
jobs:
  build_and_push:
    executor: docker/docker
    steps:
      - checkout
      - docker/build:
        image: "nicolaspascual/circleci:$CIRCLE_SHA1"